
.login-box {margin-top: 200px;}
.panel-login {border: solid 2px rgb(170, 198, 241); border-radius: 3px;}
.panel-heading {
    padding: 10px;
    background:#ecf0f1;
}
.forgot-password-text{
    float:right; font-size: 80%; position: relative;margin-top: -30px;
}
.panel-body {padding: 20px; margin-bottom: 10px;}
.div-line {border: solid 1px rgb(170, 198, 241);}
.dont-have-account {float: right; font-size: 13px;margin-bottom: 20px;}
