<div class="container ">
  <div class="row main-content">
    <div class="col-12 question-content">
      <div class="row">
        <div class="col-9 question-index">
            <h1 class="text-center">write content of question index here...!</h1>
        </div>
        <div class="col-3 question-side-bar">
            <div class="row justify-content-md-center">
              <div class="col">
                  <button class="btn btn-success add-question-btn" routerLink="/add-question">Add new question</button>
              </div>
            </div>
        </div>
     </div>
    </div>
  </div>
</div>