
<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="users" routerLinkActive="active"><i class="fa fa-users" aria-hidden="true"></i> Quản lý người dùng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="categories" routerLinkActive="active"><i class="fa fa-th-list" aria-hidden="true"></i> Quản lý danh mục</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="roles" routerLinkActive="active"><i class="fa fa-key" aria-hidden="true"></i> Quản lý Roles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="permissions" routerLinkActive="active"><i class="fa fa-wifi" aria-hidden="true"></i> Quản lý permissions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="tags" routerLinkActive="active"><i class="fa fa-tags" aria-hidden="true"></i> Quản lý tags</a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column">
    
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
    </li>
  </ul>
</nav>