<!-- <ul>
  <li *ngFor="let error of errors">{{ error.msg }}</li>
</ul>

<input type="text" [(ngModel)]="username">
<input type="text" [(ngModel)]="password">
<input type="text" [(ngModel)]="passwordConfirmation">
<button on-click="register()">Register</button> -->
<div class="container">
  <div class="row justify-content-center register-box">
      <div class="col-6">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
              <form>
                <small class="form-text error-text">Error text here..!</small>
                <div class="form-group">
                 
                  <input type="email" [(ngModel)] = "email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                   
                    <input type="text" [(ngModel)] = "username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter user name">
                  </div>
                <div class="form-group">
                 
                  <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    
                    <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" id="exampleInputPassword1" placeholder="Password confirm">
                  </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input"> Accepted with website rules.
                  </label>
                </div>
                <button type="submit" class="btn btn-success"  (click)="onRegister()">Submit</button>
                <button type="submit" class="btn btn-primary" (click)="onRegisterWithFacebook()">Sign up with facebook</button><br>
                <hr class="div-line">
                <div class="dont-have-account">
                   Have account! <a href="#" routerLink="/auth/login">Sign In Here</a>
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
</div>
 