<!-- <ul>
  <li *ngFor="let error of errors">{{ error.msg }}</li>
</ul>

<input type="text" [(ngModel)]="username">
<input type="text" [(ngModel)]="password">
<input type="text" [(ngModel)]="passwordConfirmation">
<button on-click="register()">Register</button> -->

<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html">
      <b>Admin</b>LTE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
    <p *ngFor="let error of errors">{{ error.msg }}</p>

    <!-- <form action="../../index.html" method="post"> -->
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" (keyup.enter)="register()">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password" (keyup.enter)="register()">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Password Confirmation" [(ngModel)]="passwordConfirmation" (keyup.enter)="register()">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> I agree to the
              <a href="#">terms</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" on-click="register()">Register</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- </form> -->

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
        <i class="fa fa-facebook"></i> Sign up using Facebook
      </a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat">
        <i class="fa fa-google-plus"></i> Sign up using Google+
      </a>
    </div>

    <a href="login.html" class="text-center" [routerLink]="['/auth/login']">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
